.countryCont {
  border: 1px black solid;
  width: 270px;
  height: 200px;
  margin: 5px;
  background-color: rgba(127, 255, 212, 0.356);
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.countryCont img {
  height: 100px;
}

.countryCont h2 {
  margin: 0;
}